@{
    ViewData["Title"] = "Check Cookie";
}
<!DOCTYPE html>
<html lang="en">
<h1>Check Cookie</h1>
<p>@ViewData["Message"]</p>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
